# Flutter
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# Firebase
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist

# API keys
*.env
lib/secrets.dart
lib/api_keys.dart
.env
# Keystore
android/app/*.jks
android/key.properties

# Other
*.log
